/* ==================================== */
/* font */
/* ==================================== */
.font-mono {
  font-family: "Kode Mono", monospace;
}

.font-rubik {
  font-family: "Rubik Mono One", monospace;
}

.font-anta {
  font-family: "Anta", sans-serif;
}

.text-mute {
  color: rgba(255, 255, 255, 0.8);
}
/* ==================================== */
/* end font */
/* ==================================== */




/* ==================================== */
/* progress animate */
/* ==================================== */
@keyframes progressAnimation {
  0% {
    width: 0%;
  }
}

.progress-bar {
  animation: progressAnimation 2s linear;
}
/* ==================================== */
/* end progress animate */
/* ==================================== */




/* ==================================== */
/* Animasi zoom in */
/* ==================================== */
@keyframes zoomIn {
  from {
      transform: scale(1);
  }
  to {
      transform: scale(1.2);
  }
}

.card-zoom:hover .zoom-in {
  animation: zoomIn 0.3s ease-in-out forwards;
}
/* ==================================== */
/* end animasi zoom in */
/* ==================================== */




/* ==================================== */
/* footer */
/* ==================================== */
.footer-custom{
  background: #435560;
  padding: 30px;
  font-size: 13px;
  color: #F8EDE3;
  text-align: center;
}
.sosmed-custom{
  border-color: white;
  color: white;
  margin: 5px;
}
/* ==================================== */
/* end footer */
/* ==================================== */




/* ==================================== */
/* navbar */
/* ==================================== */
.nav-text-brand .text-black{
  color:black;
}

.nav-text-brand .text-black{
  color:white;
}

.link-navbar {
  background-image: linear-gradient(to right,
      #54b3d6,
      #54b3d6 50%,
      #000000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.link-navbar:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.link-navbar:hover {
  background-position: 0;
}

.link-navbar:hover::before {
  width: 100%;
}

.navbar.scrolled .link-white {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #ffffff 50%);
}

.navbar.scrolled {
  background: #12486B !important;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1) !important;
  margin-top: 0;
  transition: 0.3s;
}
.navbar.rm-scrolled {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); 
  box-shadow: none !important;
  margin-top: 0;
  transition: 0.3s;
}

.navbar.scrolled .text-white {
  color: white;
}
.navbar-brand.text-white{
  color: white;
}
/* ==================================== */
/* end navbar */
/* ==================================== */




/* ==================================== */
/* sidebar */
/* ==================================== */
.link-sidebar {
  background-image: linear-gradient(to right,
      #54b3d6,
      #54b3d6 50%,
      #000000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.link-sidebar:before {
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.link-sidebar:hover {
  background-position: 0;
}

.link-sidebar:hover::before {
  width: 100%;
}
/* ==================================== */
/* end sidebar */
/* ==================================== */




/* ==================================== */
/* form input contact */
/* ==================================== */
form {
	text-align: center;
	margin: 0 auto;
}

input,
textarea {
	display: block;
	width: 100%;
	border: 0;
	padding: 10px 5px;
  background: white no-repeat;
	background-color: transparent;
	background-image: linear-gradient(to bottom, #78D6C6, #78D6C6), linear-gradient(to bottom, silver, silver);
	background-size: 0 2px, 100% 1px;
	background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  color: white;
}

input:focus,
textarea:focus{
	background-size: 100% 2px, 100% 1px;
	outline: none;
}
input::placeholder,
textarea::placeholder {
  color: white;
}
/* ==================================== */
/* end form input contact */
/* ==================================== */




/* ==================================== */
/* button contact */
/* ==================================== */
.button-contact {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  border: 1px solid silver;
  background-color: transparent;
}

.button-contact:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 10rem;
  z-index: -2;
  border-bottom: 1px solid silver;
}

.button-contact:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #435560;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}

.button-contact:hover {
  color: #fff;
}

.button-contact:hover:before {
  width: 100%;
}
/* ==================================== */
/* end button contact */
/* ==================================== */




/* ==================================== */
/* content */
/* ==================================== */
.center-container {
  position: relative;
  min-height: 100vh;
}

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.gradient-text {
  background: linear-gradient(45deg, #12486B, #419197, #78D6C6);
  -webkit-background-clip: text;
  /* Untuk browser WebKit (Safari, Chrome, dll.) */
  background-clip: text;
  color: transparent;
  /* Membuat teks asli transparan */
}

.gradient-background {
  background: linear-gradient(160deg, #12486B, #419197, #78D6C6);
}

.hr-custom-left{
  border-bottom: 3px solid #000000;
  width: 50px;
  margin-left: 0;
}

.hr-custom-right{
  border-bottom: 3px solid #000000;
  width: 50px;
  margin-left: auto; /* Mengatur margin kiri ke 'auto' untuk memindahkan ke kanan */
  margin-right: 0; /* Mengatur margin kanan menjadi 0 */
}

.hr-custom-center{
  border-bottom: 3px solid #000000;
  width: 50px;
  margin-left: auto; /* Mengatur margin kiri ke 'auto' untuk memindahkan ke kanan */
  margin-right: auto; /* Mengatur margin kanan menjadi 0 */
}

.text {
  background-color: transparent;
  padding: 15px;
  border: 2px solid #F55C47;
  border-radius: 50px;
  transition: 0.3s;
  color: #F55C47;
}

.text:hover {
  text-decoration: none;
  background-color: #F55C47;
  color: white;
  border-radius: 50px;
  font-size: 16px;
  padding: 16px 32px;
}

.container-img {
  position: relative;
  width: 100%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.container-img:hover img {
  filter: blur(5px);
}

.container-img:hover .middle {
  opacity: 1;
}

/* ==================================== */
/* end content */
/* ==================================== */



/* ==================================== */
/* Responsive */
/* ==================================== */


/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* Aturan CSS untuk tablet di sini */
  .link-sidebar-navbar {
    background-image: linear-gradient(to right,
        #54b3d6,
        #54b3d6 50%,
        #000000 50%);
  }

}

/* Laptop */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {

  /* Aturan CSS untuk laptop di sini */
  .nav-item {
    padding-right: 15px;
    padding-left: 15px;
  }
  .certificate-custom{
    padding: 80px 0 80px 0;
  }
}

/* Smartphone / HP */
@media only screen and (max-width: 767px) {

  /* Aturan CSS untuk smartphone/HP di sini */
  .link-sidebar-navbar {
    background-image: linear-gradient(to right,
        #54b3d6,
        #54b3d6 50%,
        #000000 50%);
  }

  .certificate-custom{
    padding: 100px 0 100px 0;
  }
}

/* Layar Lebar (TV) */
@media only screen and (min-width: 1441px) {

  /* Aturan CSS untuk layar lebar (TV) di sini */
  .nav-item {
    padding-right: 15px;
    padding-left: 15px;
  }
}
/* ==================================== */
/* end responsive */
/* ==================================== */
